﻿

@model IEnumerable<BarManagement.UI.Models.Commodity.CommodityViewModel>
@{
    var role = Context.Request.Cookies["Role"];
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>
                Commodity
            </h2>
        </div>
        @if (role == "Manager")
        {
            <div class="col-6 text-end">
                <a asp-controller="Commodity" asp-action="Create" class="btn btn-primary btn-custom">
                Add Commodity
            </a>
        </div>
        }
    </div>
    <br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Price
            </th>
            <th>
                 Description
            </th>
            <th>
                Measure
            </th>
            @if (role == "Manager")
            {
                    <th>

                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model) {
            <tr>
                <td>
                    @obj.Title
                </td>
                <td>
                     @obj.Price
                </td>
                <td>
                        @obj.Description
                </td>
                <td>
                    @obj.DefaultMeasure.Measure
                </td>
                    @if (role == "Manager")
                    {
                <td>
                    <div class="w-100 btn-group" role="group">
                            <a asp-controller="Commodity" asp-action="Update" asp-route-id="@obj.Id" class="btn btn-primary btn-custom"> <i class="bi bi-pencil-square"></i> &nbsp;Edit</a>
                    </div>
                </td>
                    }
            </tr>
        }
    </tbody>
</table>
</div>