﻿

@model IEnumerable<BarManagement.UI.Models.Commodity.CommodityViewModel>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Commodity
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Commodity" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Add Commodity
            </a>
        </div>
    </div>
    <br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Title
            </th>
            <th>
                Price
            </th>
            <th>
                 Description
            </th>
            <th>
                Measure
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model) {
            <tr>
                <td>
                    @obj.Id
                </td>
                <td>
                    @obj.Title
                </td>
                <td>
                     @obj.Price
                </td>
                <td>
                        @obj.Description
                </td>
                <td>
                    @obj.DefaultMeasure.Measure
                </td>
                <td>
                    <div class="w-100 btn-group" role="group">
                            <a asp-controller="Commodity" asp-action="Update" asp-route-id="@obj.Id" class="btn btn-primary"> <i class="bi bi-pencil-square"></i> &nbsp;Edit</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>