﻿

@model IEnumerable<BarManagement.UI.Models.Drinks.GetDrinksViewModel>
@{
    var role = Context.Request.Cookies["Role"];
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>
                Drinks
            </h2>
        </div>
        @if (role == "Manager")
        {
            <div class="col-6 text-end">
                <a asp-controller="Drinks" asp-action="Create" class="btn btn-primary btn-custom">
                Add Drink
            </a>
        </div>
        }
    </div>
    <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Commodity
                </th>
                @if (role == "Manager")
                {
                    <th>

                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.Description
                    </td>
                    <td>
                        @obj.Price
                    </td>
                    <td>
                        @obj.AmountInDefaultMeasure @obj.Commodity.DefaultMeasure.Measure
                    </td>
                    <td>
                        @obj.Commodity.Title
                    </td>
                    @if (role == "Manager")
                    {
                        <td>
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="Drinks" asp-action="Update" asp-route-id="@obj.Id" class="btn btn-primary btn-custom"> <i class="bi bi-pencil-square"></i> &nbsp;Edit</a>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>