﻿

@model IEnumerable<BarManagement.UI.Models.Buyings.BuyingViewModel>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>
                Buyings
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Buyings" asp-action="Create" class="btn btn-primary btn-custom">
                Add Buying
            </a>
            <a asp-controller="Buyings" asp-action="GetSpendings" class="btn btn-primary btn-custom">
                Get Spendings
            </a>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Commodity
                </th>
                <th>
                    Measure
                </th>
                <th>
                    PurchaseDate
                </th>
                <th>
                    AvailableAmount
                </th>
                <th>
                    PurchaseAmount
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Id
                    </td>
                    <td>
                        @obj.Commodity.Title
                    </td>
                    <td>
                        @obj.Commodity.DefaultMeasure.Measure
                    </td>
                    <td>
                        @obj.PurchaseDate.ToLongDateString();
                    </td>
                    <td>
                        @obj.AvailableAmount
                    </td>
                    <td>
                        @obj.PurchaseAmount
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>