@model IEnumerable<BarManagement.UI.Models.Coctails.CoctailViewModel>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>
                Coctails
            </h2>
        </div>
        <div class="col-6">
            <input type="text" id="search-input" class="form-control" placeholder="Search coctails..." />
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="coctails-table-body">
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.Description
                    </td>
                    <td>
                        @obj.Price
                    </td>
                    <td> <a class="btn btn-primary btn-custom" asp-controller="Coctails" asp-action="GetCoctailDetails" asp-route-coctailId="@obj.Id">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#search-input').on('input', function () {
                var search = $(this).val();
                console.log(search)
                $.ajax({
                    url: '@Url.Action("GetAllSearch", "Coctails")',
                    type: 'GET',
                    data: { search: search },
                    success: function (data) {
                        var tbody = $('#coctails-table-body');
                        tbody.empty();
                        $.each(data, function (index, coctail) {
                            console.log(data)
                            tbody.append('<tr>'
                                + '<td>' + coctail.name + '</td>'
                                + '<td>' + coctail.description + '</td>'
                                + '<td>' + coctail.price + '</td>'
                                + '<td><a class="btn btn-primary btn-custom" href="/Coctails/GetCoctailDetails?coctailId=' + coctail.id + '">Details</a></td>'
                                + '</tr>');
                        });
                    },
                    error: function () {
                        alert('Error loading coctails');
                    }
                });
            });
        });
    </script>
}
